<html>
    <head>
        <title>Toko bangunan</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Struk</div>
        <h3>Struk</h3>

        <hr>
        <p>Nama Buah :<b th:text="${bangunan}"><br><br>
        <p> Harga Buah : <b th:text="${harga}"><br>
        <p> Jumlah : <b th:text="${jumlah}"><br>
         <p>Diskon :<b th:text="${disc}"><br>
         <p> Total Belanja : <b th:text="${totalbarang}">
        

    </body>
</html>